:root {
  --black: #2c2c2c;
  --white: #e4e5e4;
  --border: #52504f;
}

.Pallet-Town-On-Parade {
  text-align: center;
  color: var(--white);
}

#title {
  margin-top: 10px;
  max-width: 500px;
  min-width: 300px;
  width: 60vw;
}

#gameboard {
  width: 100vw;
  max-width: 1347px;
  height: auto;
  margin-bottom: 20px;
}

.hidden-pokemon {
  padding: 5px 15px;
  width: 7vw;
  max-width: 70px;
  min-width: 40px;
  height: 7vw;
  max-height: 70px;
  min-height: 40px;
}

.remaining .hidden-pokemon {
  margin-bottom: 0;
}

dd {
  padding: 5px;
  margin-left: 0;
}

.start,
.yesBtn,
.noBtn,
.cancelBtn,
.addBtn {
  display: block;
  margin: auto;
  background-color: transparent;
  color: var(--white);
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.yesBtn,
.noBtn,
.cancelBtn,
.addBtn {
  margin: 10px;
  display: inline-block;
}

.start,
.yesBtn,
.noBtn,
.addBtn,
.cancelBtn {
  border: 1px solid var(--white);
  border-radius: 5px;
}

.start:hover {
  color: #ffc1a7;
  border: 1px solid #ffc1a7;
}

.yesBtn:hover,
.addBtn:hover {
  color: #59ee45;
  border: 1px solid #59ee45;
}

.noBtn:hover,
.cancelBtn:hover {
  color: #ff5656;
  border: 1px solid #ff5656;
}

.name-input {
  padding-bottom: 10px;
  display: block;
}

.name-input input {
  margin-left: 15px;
  background-color: transparent;
  color: var(--white);
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--white);
  border-radius: 5px;
}

.pokeball {
  pointer-events: none;
  position: absolute;
  width: 5vw;
  min-width: 30px;
  max-width: 75px;
}

@media (max-width: 1920px) {
  #gameboard {
    max-width: 1200px;
  }
}

@media (max-width: 780px) {
  p,
  dd {
    max-width: 90vw;
    margin: auto;
  }
  p {
    margin-block-start: 1em;
    margin-block-end: 1em;
  }
}

@media (prefers-color-scheme: light) {
  .Pallet-Town-On-Parade {
    color: var(--black);
  }

  .start,
  .yesBtn,
  .noBtn,
  .cancelBtn,
  .addBtn,
  .name-input input {
    color: var(--black);
    border: 1px solid var(--black);
  }

  .start:hover {
    color: #b84a1c;
    border: 1px solid #b84a1c;
  }

  .yesBtn:hover,
  .addBtn:hover {
    color: #12912d;
    border: 1px solid #12912d;
  }

  .noBtn:hover,
  .cancelBtn:hover {
    color: #da3333;
    border: 1px solid #da3333;
  }
}
