:root {
  --black: #2c2c2c;
  --white: #f4ebd9;
  --border: #52504f;
}

.App {
  text-align: center;
  color: var(--white);
}

#gameboard {
  width: 100vw;
  max-width: 1347px;
  height: auto;
}

.hidden-pokemon {
  padding: 15px;
  margin-bottom: 15px;
  width: 100px;
  height: 100px;
}

.start {
  display: block;
  margin: auto;
  background-color: transparent;
  color: var(--white);
  padding: 8px;
  font-size: 14px;
  border: 1px solid var(--white);
  border-radius: 5px;
  cursor: pointer;
}
