@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: #2c2c2c;
  margin: 0;
  font-family: 'Lato', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #e4e5e4;
  }
}
